.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hlsvideo{
    width: 100%;
}

.btn_group{
    display: flex;
}

.btn{
    background-color: var(--primary);
    border: none;
    color: var(--white);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.btn.play{
    margin-left: 0;
}